.container, img{
    display: grid;
    place-content: center;
}

    .fondo{background-color: aqua;}

.card{
    border:3px solid lightblue;
    display: flex;
    float: right;
    width: 250px;
    margin: 20px 60px;
    border-radius: 20px;
    
}

.texto{
    font-size: 40px;
    padding: 4px;
    text-align: right;
	color: white;
	text-shadow: 5px 5px orange;
    display: flex;
    justify-content: right;
    float: right;
}   

img{
    width: 30%;
    padding: 5px;
    justify-content: left;
    float: left;
}

.cont2{display:none}
.cont{display: block;}

.carta{display:none}
.carta2{
		display: block;
		margin: 3px;
		padding: 3px;
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		color: white;	
}