.container, img{
    display: grid;
    place-content: center;
}

    .fondo{background-color: aquamarine;}

.card{
    border:3px solid lightblue;
    display: flex;
    width: 300px;
    margin: 10px 70px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px lightgreen;
}

.texto{
    font-size: 40px;
    padding: 4px;
    text-align: center;
	color: white;
	text-shadow: 5px 5px orange;
}   

img{
    width: 55%;
    padding: 5px;
}

.cont2{display:none}
.cont{display: block;}

.carta{display:none}
.carta2{
		display: block;
		margin: 3px;
		padding: 3px;
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		color: white;	
}